.list {
  max-width: 35%;
}

.email-show {
  padding: 20px 20px;
  width: 65%;
  max-height: 60%;
  text-align: left;
}

.centraltable {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
