.list {
  max-width: 25%;
}

#email-show {
  box-shadow: 5px 5px 10px grey;
  padding: 10px 10px;
  width: 75%;
  max-height: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.centraltable {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
